html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    background-color: #eee;
}

.container {
   max-height: 50vh;
}

.day {
    display: inline-block;
    width: 60px;
    margin: 1px;
    padding: 5px;
    border: 1px solid black;
    color: blue;
    text-align: center;
}

.day__month{
    color: red;
}