html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    color: #444;
    background-color: #eee;
}

.day {
    display: inline-block;
    width: 60px;
    margin: 1px;
    padding: 5px;
    border: 1px solid black;
    color: blue;
    text-align: center;
}

.emptyDay {
    color: rgb(160, 157, 157);
}

.month {
    display: block;
    margin: 10px 0;
    color: red;
}